main {
    min-height: 80vh;
    font-family: "Poppins", sans-serif;
    /*background: white;*/
    /*background: linear-gradient(*/
    /*        to right bottom,*/
    /*        rgba(205, 203, 203, 0.7),*/
    /*        rgba(255, 255, 255, 0.3)*/
    /*);*/
    /*//background: linear-gradient(*/
    /*        to right bottom,*/
    /*        rgba(255, 255, 255, 0.8),*/
    /*        rgba(255, 255, 255, 0.3)*/
    /*);*/
    /*//background: #4DA0B0; !* fallback for old browsers *!*/
    background: -webkit-linear-gradient(to right, #D39D38, #4DA0B0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D39D38, #4DA0B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    padding: 1rem 0;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}


.rating span {
    margin: 0.1rem;
}

.product-card {
    background: white;
    background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3)
    );
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}

/*.product-card:hover {*/
/*    transform: scale(1.1);*/
/*    transition: transform 0.2s ease;*/
/*    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);*/
/*}*/

.product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


@media only screen and (max-width: 320px) {

    .product-name {
        -webkit-line-clamp: 2;
    }
}


@media only screen and (min-width: 321px) and (max-width: 768px) {

    .product-name {
        -webkit-line-clamp: 2;
    }
}

.navbar {
    background: -webkit-linear-gradient(to right, #D39D38, #4DA0B0) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D39D38, #4DA0B0) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    color: white;
    padding: 1rem;
    position: relative;
}

/*------------------------------HEADER-------------------------------------*/


.navbar {
    background: -webkit-linear-gradient(to right, #D39D38, #4DA0B0) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D39D38, #4DA0B0) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
}

.nav-item {
    margin: auto;
}

.header__cart__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__cart_price {
    font-size: 12px;
    border: 2px solid #9c7e31;
    border-radius: 9%;
    padding: 5px;
    background-color: brown;
    margin-top: 50px;
    margin-right: -2px;
}

.header__cart_icon {
    position: relative;
    border: 4px solid;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    text-align: center;
}

.header__cart__count {
    position: absolute;
    top: -40px;
    right: -18px;
    border: 2px solid #9c7e31;
    background-color: brown;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 55%;

}

@media (min-width: 992px)
{
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: -40px;
}}
.nav-item {
    align-items: center;
}
Nav.Link {
    color: white !important;
}
.input__filed {


    border-radius: 4px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.45;
    outline: none;
    padding: 0.6em 1.45em 0.7em;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
}

.input__filed:hover {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

.input__filed:focus {
    color: #4b515d;
    border: 1px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.header__cart__icon__product {
    position: absolute;
    color: #9c7e31;
    border: 2px solid;
    padding: 5px;
    border-radius: 50%;
    width: 35px;
    text-align: center;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

header__cart__icon__product__filled {
    position: absolute;
    color: brown;
    padding: 5px;
    border-radius: 50%;
    max-width: 35px;
    text-align: center;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
/*-------------------------------FOOTER-------------------------------------*/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
    background: -webkit-linear-gradient(to right, #D39D38, #4DA0B0);
    background: linear-gradient(to right, #D39D38, #4DA0B0);
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    margin: 0 !important;

}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        object-fit: contain;
    }

}

.footer__column {
    max-width: 210px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 15px;
    padding: 8px;
    color: white;
}

p {
    margin-top: 0 !important;
    cursor: pointer;
}

p:hover {
    text-decoration: underline;

}

.footer__heading {
    font-weight: bolder;
    font-size: large;
    color: white;
    margin-top: 7px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ffb700;

}

button {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    border: none;
    background: white;
    background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3)
    );
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    border-radius: 5px;
}

button:hover {
    background: -webkit-linear-gradient(to right, #D39D38, #4DA0B0) !important;
}

.btn__text {
    padding: 5px;
}

/*-------------------------------------Carousel-------------------------------------*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
    display: flex;
}

.carousel-caption {
    position: absolute;
    top: 0;
}

.carousel-caption h2 {
    color: white;
}

.carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 35px;
    display: flex;
}
@media only screen and (min-width: 321px) and (max-width: 768px) {
    .carousel-caption h2 {
       display: none;
    }
}


.carousel a {
    margin: 0 auto;
}

.pagination {
    margin-top: 15px;
}


